asgiref==3.2.7
attrs==19.3.0
autobahn==20.6.1
Automat==20.2.0
beautifulsoup4==4.9.1
botocore==1.17.7
cachetools==4.1.0
certifi==2020.4.5.1
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
cycler==0.10.0
daphne==2.5.0
decorator==4.4.2
Django==3.0.6
django-debug-toolbar==2.2
django-jsonfield==1.4.0
djangorestframework==3.11.0
django-environ
docutils==0.15.2
ffmpeg==1.4
ffmpeg-python==0.2.0
ffmpy==0.2.3
future==0.18.2
google-api-core==1.21.0
google-api-python-client==1.9.3
google-auth==1.18.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.18.1
hyperlink==19.0.0
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.2
incremental==17.5.0
jmespath==0.10.0
jsonfield==3.1.0
kiwisolver==1.2.0
lxml==4.5.1
matplotlib==3.2.1
moviepy==1.0.3
mysqlclient==1.4.6
numpy==1.18.4
oauth2client==4.1.3
pandas==1.0.3
Pillow==7.1.2
proglog==0.1.9
protobuf==3.12.2
psycopg2
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
PyMySQL==0.9.3
pynamodb==4.3.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-memcached==1.59
-e git+https://github.com/jpmcpe/python3-memcached.git@5c7f310e029e3911c599a1b4fe715bc4acbff100#egg=python3_memcached
pytz==2020.1
requests==2.23.0
requests-cache==0.5.2
rsa==4.6
service-identity==18.1.0
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
tqdm==4.46.0
Twisted==20.3.0
txaio==20.4.1
uritemplate==3.0.1
urllib3==1.25.9
youtube-dl==2020.5.8
zope.interface==5.1.0
